@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
}
.auction {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    text-decoration: underline;
    cursor: pointer;
    font-family: "Bebas Neue", serif;
    font-size: 18px;
}
header {
    width: 100%;
    height: 80px;
    background-color: rgb(172, 60, 60);
    color: black;
    line-height: 80px;
    font-family: "Bebas Neue", serif;
    position: sticky;
    top: 0; 
    z-index: 1;
}
header a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    position: static;
    z-index: 1;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
}
.homehref {
    padding-left: 40px;
}
a:hover {
    text-decoration: underline rgb(255, 255, 255);
}
header .jean {
    position: relative;
    top: 15px;
    left: 20%;
}
header .logo {
    width: 16px;
    height: 16px;
    color: white;
}
header i {
    padding-left: 6px;
    height: 20px;
    width: 20px;
    position: relative;
    left: 57%;
}
main {
    width: 100%;
    height: 700px;
    background: url("/home-slideshow-le-beau-le-parfum.jpg") no-repeat;
    background-size: cover;
}
main .main-description {
    position: absolute;
    bottom: 0%;
    left: 7rem;
    width: 260px;
    height: max-content;
    background-color: #3b6256;
    padding: 40px 40px;
    z-index: 0;
}
main .main-description h1, main .main-description p {
    color: white;
    font-family: "Bebas Neue", serif;
}
main .main-description h1 {
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}
main .main-description p {
    font-family: "Jura", serif;
    font-size: .95rem;
    padding: 1px;
    margin-bottom: 20px;
}
main .main-description button {
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    border: 0.5px solid white;
    color: white;
    width: 100%;
    padding: 10px 5px;
}
main .main-description button:hover {
    color: #3b6256;
    background-color: white;
    transition: background-color 0.9s ease, color 0.9s ease;
}
.info {
    background-color: #53bb9c;
    width: 100%;
    height: 900px;
}
.info h1 {
    font-family: "Bebas Neue", serif;
    padding-top: 10px;
}
.info img {
    padding-top: 20px;
}
.info .parfume1 {
    /*position: absolute;*/
    width: 350px;
    height: max-content;
    padding: 3% 4%;
    background-color: #3ba6a8;
    margin: 3% 0 0 1.2%;
}
.description-h1 {
    padding-right: 17%;
    color: white;
}
.parfume1 p {
    font-family: "Jura", serif;
    font-size: .95rem;
    padding: 1px;
    margin-bottom: 20px;
    color: white;
}
.parfume1 button {
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    border: 0.5px solid white;
    color: white;
    width: 100%;
    padding: 10px 5px;
    font-size: 19px;
}
.parfume2 {
    /*position: absolute;*/
    width: 350px;
    height: max-content;
    padding: 3% 4%;
    background-color: #e0c094;
    margin: 3% 0 0 1%;
}
.parfume2 p {
    font-family: "Jura", serif;
    font-size: .95rem;
    padding: 1px;
    margin-bottom: 20px;
    color: white;
}
.parfume2 button {
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    border: 0.5px solid white;
    color: white;
    width: 100%;
    padding: 10px 5px;
    font-size: 19px;
}
.parfume2 h1 {
    padding: 0%;
    margin-top: 11px;
}
.parfume-container {
    display: flex;
    justify-content: flex-start;
}
.try-out {
    text-align: center;
    font-size: 38px;
}
.parfume3 {
    width: 350px;
    height: max-content;
    padding: 3% 4%;
    background-color: #b2c781;
    margin: 3% 0 0 1%;
}
.parfume3 p {
    font-family: "Jura", serif;
    font-size: .95rem;
    padding: 1px;
    margin-bottom: 20px;
    color: white;
}
.parfume3 button {
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    border: 0.5px solid white;
    color: white;
    width: 100%;
    padding: 10px 5px;
    font-size: 19px;
}
.parfume3 h1 {
    padding: 0%;
    margin-top: 11px;
}
.btn-animation1:hover {
    background-color: white;
    color: #3ba6a8;
    transition: background-color 0.9s ease, color 0.9s ease;
    cursor: pointer;
}
.btn-animation2:hover {
    background-color: white;
    color: #e0c094;
    transition: background-color 0.9s ease, color 0.9s ease;
    cursor: pointer;
}
.btn-animation3:hover {
    background-color: white;
    color:  #b2c781;
    transition: background-color 0.9s ease, color 0.9s ease;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-family: "Bebas Neue", serif;
    background-color: #5a5959;
    color: white;
    text-align: center;
    font-size: 18px;
}